# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

ios/CircleCIDemoReactNative.xcodeproj/project.xcworkspace/xcuserdata/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.DS_Store

ios/build
ios/fastlane/report.xml
ios/fastlane/test_output

**/junit.xml

android/app/build
android/build
